body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background-color: var(--bg-main);
    font-family: "Comfortaa", sans-serif;
}

main {
    flex: 1 0 auto;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 75px;
    padding-bottom: 1rem;
    background-color: var(--bg-main);
}

footer {
    flex: 0 0 auto;
    margin-top: auto;
    background-color: var(--bg-nav);
    color: var(--text-muted);
    padding: 0.75rem 1rem;
}

footer a {
    color: var(--accent);
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
}

footer a:hover {
    text-decoration: underline;
}

html,
body {
    background: var(--bg-main);
    color: var(--text-main);
    height: 100%;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    --bg-main: #fdf4e3;
    --bg-nav: #feb21a;

    --text-main: #000000;
    --text-muted: #524f49;
    --accent: #ed3f27;
}

.navbar {
    background-color: var(--bg-nav);
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
}


h1 {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
}

p {
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
}