html, body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

main {
  flex: 1;                 
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;                  
  padding-top: 56px;        
  padding-bottom: 1rem;
}

footer {
  flex: 0 0 auto;
}