form {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.btn-search, .btn-submit  {
    padding: 10px 24px;
    border-radius: 999px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 600;
    transition: all 1s ease;
    background-color: var(--accent);
    color: white;
}

.btn-search:hover, .btn-submit:hover {
    background: transparent;
    border: 2px solid var(--accent);
    color: var(--accent);
}
