form {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.btn-search, .btn-submit  {
    padding: 10px 24px;
    border-radius: 999px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 600;
    transition: all 1s ease;
    background-color: var(--accent);
    color: white;
}

.btn-search:hover, .btn-submit:hover {
    background: transparent;
    border: 2px solid var(--accent);
    color: var(--accent);
}

.rating-input {
    width: 70px;
    text-align: center;
    border-radius: 999px;
    padding: 10px 10px;
    font-family: "Comfortaa", sans-serif;
    transition: all 0.25s ease;
}

.album-cover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 12px;
}

.album-cover:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
